
<div class="container mt-5">
    <div class="card my-custom-card" *ngFor="let project of ProjectList">
      <div class="card-body">
        <!-- Heading -->
        <h5 class="card-title">{{ project.title }}</h5>
        <!-- Horizontal Rule -->
        <hr>
        <!-- Small Heading -->
        <h6 class="card-subtitle mb-2">Software Engineer</h6>
        <!-- Some Text -->
        <p class="card-text">{{ project.description }}</p>
        <!-- Social Media Icons -->
        <div class="social-icons">
          <!-- Add your social media icons here -->
        </div>
        <!-- A Link -->
        <div class="mt-3">
          <a href="#" class="card-link">{{ project.repository }}</a>
        </div>
      </div>
    </div>
  </div>

  
  
  
  
  
  