<div class="container custom-container">
  <div class="profile-image">
    <img src="../../assets/01315091449.JPG" alt="My Image">
  </div>
  <h1>Mehedi Hasan Mahin</h1>
  <div class="paragraph">
    <p>
      As an American International University graduate, I specialize in Python Django for robust backend development and Angular for creating sophisticated frontends. Proficient in MySQL, PL/SQL, and PostgreSQL, I excel in database management. Through hands-on projects, I've honed skills to deliver user-centric web applications. Eager to leverage my expertise, I seek opportunities to collaborate on innovative projects and contribute to cutting-edge solutions that elevate user experiences.
    </p>
  </div>
  <div class="social-icons">
    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
    <!-- Add more social media icons as needed -->
  </div>
</div>
