
<div class="container custom-container">
  <h1>Mehedi Hasan Mahin</h1>
  <img src="../../assets/01315091449.JPG" alt="My Image">
  <p>
    Data Scientist with 4+ years of commercial experience in analytics, strategy and sales and a master's degree in Data Science from Oxford University. Previously at Vodafone, VIMA Group (management consulting), Ovo Energy, HSBC.
    Ranked in the top 10% of the undergraduate cohort at Cambridge University.
  </p>
  <!-- Social Media Icons -->
  <div class="social-icons">
    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
    <!-- Add more social media icons as needed -->
  </div>
</div>