<div class="container">
    <div class="row mt-5">
      <div class="col-md-3">
        <div class="mb-3"> <!-- Add a margin-bottom to separate from the next component -->
          <img [src]="selectedImageUrl" alt="My image" class="img-fluid">
          <h1>
            <div class="name">Mehedi Hasan Mahin</div>
          </h1>
        </div>
      </div>
      <div class="col-md-9">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Projects Title</th>
              <th>Details</th>
              <th>Repository</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of ProjectList">
              <td>{{ project.title }}</td>
              <td>{{ project.content }}</td>
              <td>{{ project.repository }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  